doctype html
html.no-js
  head
    meta(charset='utf-8')
    title defsynth
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    base(href='/')
    meta(name='fragment', content='!')
    link(rel='shortcut icon', href='/favicon.ico?v=2')
    link(
      href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,900'
      rel='stylesheet'
      type='text/css'
    )
    link(
      href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,800|Source+Sans+Pro:100,300,400,900'
      rel='stylesheet'
      type='text/css'
    )

    script.
      window.CONFIG = @@GLOBALS;

    // build:css /styles/main.css

    // bower:css
    // endbower

    // inject:css
    // endinject

    // endbuild

    // build:js /scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild

  body(ng-app='defsynthApp', ng-controller='MainCtrl')
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.

    .wrap-container(ng-class="{'show-nav': collapse}")
      #header.navbar.navbar-default.navbar-fixed-top(role='navigation', bs-navbar)
        .container
          .navbar-header
            a.navbar-brand.text-muted(ui-sref='index') defsynth
            button.navbar-toggle(
              type='button'
              ng-click='collapse = !collapse'
            )
              i.fa.fa-ellipsis-v

          #top-nav-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(ui-sref-active='active')
                a(ui-sref='index') Home
              li(ui-sref-active='active')
                a(ui-sref='style-guide') Style Guide

              li.auth.pull-right
                a(
                  ng-show='user.email'
                  ng-click='logOut()'
                )= 'Sign out '
                  i.fa.fa-sign-out

                a(
                  ng-show='!user.email'
                  ng-click='showAuthDialog()'
                )= 'Sign in '
                  i.fa.fa-sign-in

      .wrap
        .container#content
          div(ui-view)

          span#spinner(
            us-spinner='{radius:30, width: 2, length: 16, color: "#dedede"}'
            spinner-key='main-loading'
          )


      #mobile-nav
        ul.nav.nav-pills.nav-stacked
          li.auth
            a(
              ng-show='user.email'
              ng-click='logOut()'
            )= 'Sign out'

            a(
              ng-show='!user.email'
              ng-click='showAuthDialog()'
            )= 'Sign in'
          li(ui-sref-active='active')
            a(ui-sref='index') Home
          li(ui-sref-active='active')
            a(ui-sref='style-guide') Style Guide


      footer#footer
        .container
          .text-center
            .btn-group
              a.btn.btn-link.btn-xs(ui-sref='terms') Terms &amp; Conditions

    // build:js /scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js /scripts/main.js
    // inject:js
    // endinject
    // endbuild
